.container {
    width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
    max-width:100%;
}

// @media screen and (max-width:1180px) {
//     .container {
//         width: 1000px;
//     }
// }

// @media screen and (max-width:1046px) {
//     .container {
//         width: 900px;
//     }
// }

// @media screen and (max-width:922px) {
//     .container {
//         width: 750px;
//     }
// }

// @media screen and (max-width:784px) {
//     .container {
//         width: 700px;
//     }
// }

@media screen and (max-width:768px) {
    .container{
        width: 689px;
    }
}
// @media screen and (max-width:690px) {
//     .container{
//         width: 600px;
//     }
// }

// @media screen and (max-width:604px) {
//     .container{
//         width: 500px;
//     }
// }

// @media screen and (max-width:573px) {
//     .container{
//         width: 450px;
//     }
// }

// @media screen and (max-width:504px) {
//     .container{
//         width: 400px;
//     }
// }

// @media screen and (max-width:417px) {
//     .container{
//         width: 350px;
//     }
// }

@media screen and (max-width:375px) {
    .container{
        width: 327px;
    }
}