.directions {
    background: #004047;
    padding-top: 140px;
    padding-bottom: 140px;

    background-image: url('../images/round-3.png'), url('../images/square.png');
    background-repeat: no-repeat;
    background-size: 100px 200px, 147px 100px;
    background-position: left top, right bottom;

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 64px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        &--item {
            padding-top: 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #012F34;
            width: 330px;
            height: 254px;
            margin-right: 30px;
            margin-bottom: 76px;
        }

        &--item:nth-child(3n) {
            margin-right: 0;
        }

        &--item:nth-child(4) {
            margin-bottom: 0;
        }

        &--item:nth-child(5) {
            margin-bottom: 0;
        }

        &--item:nth-child(6) {
            margin-bottom: 0;
        }

        &--item::after {
            cursor: pointer;
            content: "";
            width: 56px;
            height: 56px;
            display: inline-block;

            background-image: url('../images/doctor-plus.svg');
            background-repeat: no-repeat;
            background-size: 56px 56px;
            transform: translateY(30px);
        }

        &--item:active::after {
            cursor: pointer;
            content: "";
            width: 56px;
            height: 56px;
            display: inline-block;

            background-image: url('../images/round-iks.svg');
            background-repeat: no-repeat;
            background-size: 56px 56px;
        }


        &--link {
            text-decoration: none;
        }

        &--name {
            margin-top: 16px;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #79C8C7;
        }

        &--jobs {
            font-style: italic;
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;
        }

    }

    &__span {
        display: flex;
        align-items: center;

        &--link {
            margin-right: 16px;
        }

        &--link:last-child {
            margin-right: 0;
        }
    }
}

.aden::after {
    cursor: pointer;
    content: "";
    width: 56px;
    height: 56px;
    display: inline-block;

    background-image: url('../images/round-iks.svg');
    background-repeat: no-repeat;
    background-size: 56px 56px;
    margin-top: -15px;
}

.aden:active::after {
    cursor: pointer;
    content: "";
    width: 56px;
    height: 56px;
    display: inline-block;

    background-image: url('../images/doctor-plus.svg');
    background-repeat: no-repeat;
    background-size: 56px 56px;
    transform: translateY(30px);
}

.aden {
    padding-top: 35px;

    &_text {
        width: 254px;
        margin-bottom: 24px;
    }
}



.nikita::before {
    content: "";
    width: 96px;
    height: 96px;
    display: inline-block;

    background-image: url('../images/nikita.png');
    background-repeat: no-repeat;
    background-size: 96px 96px;
}

.cristian::before {
    content: "";
    width: 96px;
    height: 96px;
    display: inline-block;

    background-image: url('../images/cristian.png');
    background-repeat: no-repeat;
    background-size: 96px 96px;
}

.cruz::before {
    content: "";
    width: 96px;
    height: 96px;
    display: inline-block;

    background-image: url('../images/cruz.png');
    background-repeat: no-repeat;
    background-size: 96px 96px;
}

.drake::before {
    content: "";
    width: 96px;
    height: 96px;
    display: inline-block;

    background-image: url('../images/drake.png');
    background-repeat: no-repeat;
    background-size: 96px 96px;
}

.griffin::before {
    content: "";
    width: 96px;
    height: 96px;
    display: inline-block;

    background-image: url('../images/griffin.png');
    background-repeat: no-repeat;
    background-size: 96px 96px;
}

.griffin-1 {
    display: none;
}

.griffin-1::after {
    content: "";
    width: 56px;
    height: 56px;
    display: inline-block;

    background-image: url('../images/round-iks.svg');
    background-repeat: no-repeat;
    background-size: 56px 56px;
    transform: translateY(15px);
    margin-left: 105px;

}

.aden-1 {
    display: none;
}

.aden_title {
    margin-bottom: 8px;
}

.aden-1::after {
    content: "";
    width: 56px;
    height: 56px;
    display: inline-block;

    background-image: url('../images/doctor-plus.svg');
    background-repeat: no-repeat;
    background-size: 56px 56px;
    transform: translateX(110px);
    margin-top: 24px;
}

.aden-1::before {
    content: "";
    width: 96px;
    height: 96px;
    display: inline-block;

    background-image: url('../images/aden.png');
    background-repeat: no-repeat;
    background-size: 96px 96px;
    margin: 0 auto;
    transform: translateX(90px);
}


@media screen and (max-width:768px) {
    .directions {
        padding-top: 100px;
        padding-bottom: 128px;

        &__title {
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 32px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 48px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &--item {
                width: 281px;
                height: 253px;
                margin-right: 11px;
            }

            &--item:nth-child(2n+2) {
                margin-right: 0;
            }

            &--item:nth-child(3) {
                margin-right: 11px;
            }
        }

        &_box-another {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__span {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .griffin {
        display: none;
    }

    .griffin-1 {
        padding-top: 35px;
        padding-left: 12px;
        display: block;
        width: 281px;
        height: 253px;
        margin-right: 0;
        margin-bottom: 0;
    }



    .aden {
        display: none;
    }

    .aden-1 {
        width: 281px;
        height: 253px;
        display: block;
        margin-left: 11px;
        margin-bottom: 0;
    }
}

@media screen and (max-width:500px) {
    .directions {
        padding-top: 88px;
        padding-bottom: 116px;

        background-image: url('../images/quarter-round-2.png'), url('../images/square.png');
        background-size: 100px 100px, 147px 100px;
        background-position: left top, right bottom;

        & .container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__list {
            display: flex;
            flex-direction: column;

            &--item {
                margin-bottom: 52px;
            }
        }
    }

    .aden-1 {
        display: none;
    }

    .aden {
        display: block;
        margin-top: 52px;
    }

    .aden_text {
        width: 235px;
        margin: 0 auto;
        margin-bottom: 24px;
    }

    .aden::after {
        content: "";
        width: 56px;
        height: 56px;
        display: inline-block;

        background-image: url('../images/round-iks.svg');
        background-repeat: no-repeat;
        background-size: 56px 56px;
        transform: translateX(110px);
        margin-top: 15px;
    }

    .aden:active::after {
        content: "";
        width: 56px;
        height: 56px;
        display: inline-block;

        background-image: url('../images/doctor-plus.svg');
        background-repeat: no-repeat;
        background-size: 56px 56px;
        transform: translateX(110px);
        margin-top: 15px;
    }

    .griffin-1 {
        display: none;
    }

    .griffin {
        display: block;
        margin-top: 52px;
    }

    .griffin::before {
        content: "";
        width: 96px;
        height: 96px;
        display: inline-block;

        background-image: url('../images/griffin.png');
        background-repeat: no-repeat;
        background-size: 96px 96px;
        transform: translate(95px);
    }

    .griffin::after {
        content: "";
        width: 56px;
        height: 56px;
        display: inline-block;

        background-image: url('../images/doctor-plus.svg');
        background-repeat: no-repeat;
        background-size: 56px 56px;
        transform: translateX(110px);
        margin-top: 24px;
    }

}

