.header {
    background: #014E56;
    padding-top: 73px;
    padding-bottom: 250px;

    background-image: url('../images/round.png'), url('../images/double-round.svg');
    background-repeat: no-repeat;
    background-size: 100px 200px, 358px 100px;
    background-position: left center, right 16% top 100%;

    &__nav {
        display: flex;
        align-items: center;
        margin-bottom: 129px;
    }

    &__link {
        margin-right: 80px;
    }

    // &__bar {
    //     display: none;
    //     color: #fff;
    //     margin-left: auto;
    // }

    &__bar{
        background-color: transparent;
        border: none;
        margin-left: auto;
        transform: translateY(-5px);
        display: none;
    }

    &__label {
        margin-left: auto;
    }

    &__checkbox {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    &__list {
        list-style-type: none;
        display: flex;
        // margin-right: 541px;

        &--item {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            margin-right: 40px;
        }

        &--item:last-child {
            margin-right: 0;
            
        }

        &--link {
            text-decoration: none;
            color: #FFFFFF;
        }

        &--link:hover {
            color: #F67E7E;
        }
    }

    &__contact {
        margin-left: auto;
        display: inline-block;
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;

        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 24px;
        padding: 10px 33px;
    }

    &__contact:hover {
        color: #002529;
        background-color: #fff;
    }

    &__wrapper {
        display: flex;
    }

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 100px;
        line-height: 100px;
        color: #FFFFFF;
        width: 620px;
        margin-right: 30px;
        max-width: 100%;

        &--span {
            color: #F67E7E;
        }
    }

    &__line {
        width: 50px;
        height: 4px;
        border: none;
        background: #79C8C7;
        margin-bottom: 79px;
    }

    &__text {
        max-width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        width: 445px;
    }
}
.menu__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

// @media screen and (max-width:1180px) {
//     .header {
//         &__list {
//             margin-right: 434px;
//         }
//     }
// }

// @media screen and (max-width:1044px) {
//     .header {
//         &__list {
//             margin-right: 234px;
//         }
//     }
// }

// @media screen and (max-width:922px) {
//     .header {
//         &__list {
//             margin-right: 184px;
//         }

//         &__wrapper {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//         }

//         &__line {
//             display: none;
//         }

//         &__title {
//             font-size: 70px;
//             line-height: 70px;
//             margin-right: 0;
//             text-align: center;
//         }

//         &__text {
//             margin-top: 20px;
//             width: 496px;
//             text-align: center;
//         }
//     }
// }

// @media screen and (max-width:784px) {
//     .header {
//         &__list {
//             margin-right: 134px;
//         }
//     }
// }

// @media screen  and (max-width:1178px){
//     .header{
//         &__list{
//             margin-top: 533px;
//         }
//     }
// }

@media screen and (max-width:1106px) {
    .header {
        padding-top: 64px;
        padding-bottom: 156px;
        background-image: url('../images/dubleround.png');
        background-size: 358px 100px;
        background-position: center top 100%;

        &__nav {
            display: flex;
            align-items: center;
            margin-bottom: 112px;
        }

        &__link {
            margin-right: 48px;
        }

        // &__list {
        //     margin-right: 155px;
        // }

        &__wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 156px;
        }

        &__title {
            width: 397px;
            margin-bottom: 24px;
            text-align: center;
            font-style: normal;
            font-weight: bold;
            font-size: 64px;
            line-height: 56px;
            color: #FFFFFF;
        }

        &__line {
            display: none;
        }

        &__text {
            text-align: center;
            width: 474px;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 28px;
            color: #FFFFFF;
            margin-top: 0;
        }
    }
}


// @media screen and (max-width:690px) {
//     .header {
//         &__list {
//             margin-right: 66px;
//         }
//     }
// }

// @media screen and (max-width:604px) {
//     .header {
//         &__contact {
//             display: none;
//         }
//     }
// }


@media screen and (max-width:500px) {
    .menu__wrapper{
        display: none;
        padding-top: 112px;
    }
    .header {
        position: relative;
        padding-top: 48px;
        padding-bottom: 97px;

        &__nav {
            margin-bottom: 80px;
        }

        &__bar {
            display: block;
        }
        &__list{
            flex-direction: column;
            margin-right: 95px;
            &--item{
                margin: 0;
                margin-bottom: 24px;
            }
        }
        &__contact{
            margin: 0;
            margin-top: 12px;
            width: 159px;
        }

        // &__checkbox:checked+&__list {
        //     display: block;
        // }

        // &__checkbox:checked~&__contact {
        //     display: block;
        // }

        &__title {
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 40px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 18px;
            width: 248px;
        }

        &__text {
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
            width: 327px;
        }
    }
    .menu__wrapper-active{
        background: #2C6269;
        background-image: url('../images/round-pink.png');
        background-repeat: no-repeat;
        background-size: 100px 200px;
        background-position: right top 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        // margin-left: auto;
        height: 636px;
        width: 255px;
        // position: absolute;
        // right: 0;
        // width: 255px;
        // height: 667px;
        // color: #fff;
        // background: #2C6269;
    }
}